<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>The Random Project</title>
    <link href = "assets/mainCSS.css" rel = "stylesheet" />
  </head>
  <body>
    <div id = "container">
      <div id = "greeting">
        Ostatnio wylosowane liczby!
      </div>

      <div id = "info">
        Masz małą szansę, że przez twoje wejście do rejestru zostanie zapisana nowa losowa liczba z przedziału 0-100 (zaświeci się ona na niebiesko)!
      </div>

      <div id = "content">
      </div>
    </div>

    <script src = "/assets/mainJS.js"></script>
  </body>
</html>
